/*全局css*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mult_line_ellipsis //多行文本溢出
  overflow hidden
  text-overflow ellipsis //文本溢出显示省略号
  display: -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical

/*弹性盒*/
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.flex-default {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-main-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-main-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-main-around {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-cross-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

img[lazy=loading] {
  width 100%
  height 300px
  background url("../../src/assets/images/special_topic_placeholder.png") no-repeat 50% / 100%
  margin auto
}

.content-button
  position absolute
  left 0
  bottom 0
  width 1.867rem
  height 1.333rem
  background rgba(0, 0, 0, .7)
  z-index 998

.content-button:after
  content ''
  display: block;
  width: 0;
  height: 0;
  border-width: .18666rem 0 .18666rem .24rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff
  position: absolute;
  top 50%
  left 50%
  margin -0.16rem 0 0 -0.10666rem

.poster
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 997;
  height: 5.333rem;
  background no-repeat 0 0/100% 100%

/* 兼容老数据 */
.font-size-1 // 28px
  font-size 3.734vw !important
  span
    font-size 3.734vw !important

.font-size-2 // 30px
  font-size 4vw !important
  span
    font-size 4vw !important

.font-size-3 // 32px
  font-size 4.267vw !important
  span
    font-size 4.267vw !important

.font-size-4 // 34px
  font-size 4.533vw !important
  span
    font-size 4.533vw !important

.font-size-5 // 36px
  font-size 4.8vw !important
  span
    font-size 4.8vw !important
.mint-toast
  width 65%
  padding:0.267rem !important
  .mint-toast-text
    font-size:0.3733rem !important

.mint-spinner-fading-circle 
  display inline-block
  vertical-align middle
  margin-right 5px