 .QA-area
    margin-top 82px
    padding 0 30px
    .QA-wrap
        margin-top 80px
        margin-bottom 120px
    header 
        height 72px
        .info
            position relative
            .tag 
                position absolute
                bottom 2px
                left 0
                width 76px
                height 46px
                line-height 46px
                color #fff
                text-indent 12px
                font-size 28px
                border-radius 4px
                z-index -1
            .ask-color 
                 background #FF8E6C
            .anw-color 
                 background #ED1F2E
            .avatar
                margin 0 10px 0 54px
                width 72px
                height 72px
                border-radius 999px
                background url("~_images/detail-avatar.png") no-repeat 50%/100%
                border 3px solid #fff
            h5 
                font-size 28px
                color #858585
                font-weight blod
            .gov-avatar
                background url("~_images/gov_avatar.png") no-repeat 50%/100%
        .date 
            color #AFAFAF
            font-size 24px
    .status
        margin-top 20px
        color #858585
        font-size 28px